@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <div class="row">
            <div class="col-12">
                <img src="https://cdn.discordapp.com/attachments/448444317741088769/1230125477549834270/original-3164ab7e8a40e4476b9d18f437af8556.png?ex=66322ea0&is=661fb9a0&hm=3c99180024da06b76ca6e47ef94d6fe5969e04f33b402e6ffbca5d811d58dd07&" alt="Alternative image" class="img-thumbnail">
                <div class="text-left h4">
                    <p>Page was not found.</p>
                </div>
                <div class="text-left h4">  Go back to <a asp-controller="Hotel" asp-action="AllHotels">All Hotels</a> Page</div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>