@model IEnumerable<HotelServiceModel>
@{
    ViewData["Title"] = "My Hotels";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

@if (Model.Any() == false)
{
    <h3 class="text-center">You have no hotels yet!</h3>
}

<div class="row">
    @foreach (var item in Model)
    {
        <partial name="_MyHotelPartial" model="@item" />
    }
</div>