
<div class="mt-4 p-5 bg-light">
	<h1 class="display-4">Your reservation was made succesfully!</h1>
	<p class="lead">
		Thank you for using our service.
	</p>
	<a asp-area="" asp-controller="Hotel" asp-action="AllHotels"
	   class="btn btn-info">Return to all hotels</a>
</div>